@font-face {
    font-family: "allura";
    src: url(../font/Allura-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(../font/Poppins-Regular.ttf);
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "poppins";
    background-color: #21201E;
}
h1{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 span {
    margin-bottom: -20px;
}
h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
h2 span {
    font-size: 38px;
    text-decoration: none ;
    margin-bottom: -15px;
}
h3 {
    color: #A57143;
    text-transform: uppercase;
}
.allura {
    font-family: "allura";
    color: #A57143;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}
.allura a {
    color: white;
}
.bloc {
    display: block;
}
.fondgris {
    background-color: #21201E;
}
.fondblanc {
    background-color: white;
}
.btn {
    text-transform: uppercase;
    background-color: #161513;
    color: white;
    border-radius: 60px;
    padding: 0.5rem 2rem;
    font-size: 12px;
    border: 1px solid white;
}
.btn:hover {
    color: #161513;
    background-color: white;
    border: 1px solid #161513;
}
a:hover {
    text-decoration: underline;
    color: #A57143;
}

/* HEADER */

#banner {
    position: relative;
    height: 70vh;
}

/* BACKGROUND IMAGE BANNER */

.backgroundbanner {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}
.bannerimg1 {
    background-image: url(../img/bg-slider-01.jpg);
    animation: banner 60s linear 40s infinite;
}
.bannerimg2 {
    background-image: url(../img/bg-slider-05.jpg);
    animation: banner 60s linear 20s infinite;
}
.bannerimg3 {
    background-image: url(../img/bg-slider-06.jpg);
    animation: banner 60s linear 0s infinite;
}

@keyframes banner {
    0% {
        opacity : 1;
    }
    33% {
        opacity : 0;
    }

}

/* NAVIGATION */

.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
}
.navi h2 {
    padding: 0 5vw;
}
nav a {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 2vw;
    font-weight: 600;
}
.reseaux {
    display: flex;
}
.reseaux ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5vw;
}
.reseaux ul li a{
    padding: 1vw;
    color: white;
}

/* BANNER CONTENT */

.bannercontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.bannercontent h1 {
    margin-top: 10rem;
}
.bannercontent p {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}
.bannercontent img {
    margin:  2rem 0;
}

/* MAIN */
/* DISCOVER */

#discover {
    display: flex;
}
#discover div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43vw;
    padding: 5vh 5vw;
    margin: 2vh 2vw;
    border: 1px dashed #A57143;
    text-align: center;
}
#discover div img {
    margin: 2rem 0;
}
#discover div img:nth-last-child(3) {
    border-radius: 50%;
}
#discover div p:nth-last-child(2){
    font-size: x-large;
}
#discover div p:nth-last-child(1) {
    color: #A57143;
    text-transform: uppercase;
    font-size: larger;
}
#discover div:last-child {
    width: 50vw;
    background-image: url(../img/dish-gallery-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* MENU */

#menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu span {
    margin-top: 4rem;
}
#menu img {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#menu ul {
    display: flex;
    margin-bottom: 6rem;
    position: relative;
}
#menu .menu {
    text-decoration: underline;
    color: white;
    margin: 0 2rem;
}
#menu .menu:hover {
    color: #A57143;
}
#menu .menu:hover .hidden1 {
    display: grid;
}
#menu .hidden1{
    position: absolute;
    z-index: 0;
    border-top: 5px solid #A57143;
    background-color: white;
    color: #5A5956;
    display: none;
    grid-template-columns: 10fr 10fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 70vw;
    left: -20.2vw;
    top: 4vh;
}
#menu .hidden1::before {
    content: "";
    border-right : 15px solid transparent;
    border-bottom : 15px solid #A57143;
    border-left : 15px solid transparent;
    padding: 50px;
    padding-bottom: 0;
    position: absolute;
    top: -65px;
    left: 20.5vw;
    z-index: 1;
}
#menu .hidden1 img {
    border-radius: 50%;
    margin: 1rem 0;
}
.hidden1 article {
    display: flex;
    justify-content: space-around;
}
.hidden1 article p{
    display: flex;
    align-items: center;
}
.hidden1 article p:nth-child(3) {
    color: #A57143;
}
.backgroundimgmenu {
    background-image: url(../img/bg-menu-01.jpg);
    background-size: cover;
    height: 60vh;
}

/* RESERVATION */
/* CARD LEFT SIDE */

#reservation .card {
    padding: 5vh 10vw;
    display: flex;
    justify-content: center;
}
.backgroundopentime {
    background-color: #161513;
}
.opentime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    border: 1px dotted #A57143;
    color: white;
}
.opentime h3 {
    margin-top: 2rem;
}
.opentime h3:nth-last-child(1) {
    margin-bottom: 2rem;
}
.opentime img {
    margin-top: 2rem;
}

/* CARD RIGHT SIDE */

.onlinereservation {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
.onlinereservation h2 {
    margin: 2rem 0;
}
.onlinereservation div {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem  ;
    margin: 2rem 0;
}
.onlinereservation input {
    border: none;
    border-bottom: 1px solid #161513;
}

/* GALLERY */

#gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gallery h2 {
    margin: 2rem 0;
    color: white;
}
#gallery div {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
}
#gallery div img {
    max-width: 25vw;
    min-width: 250px; 
}


/* EVENT */

#event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#event h2 {
    padding-top: 5rem;
    color: white;
}
#event img {
    margin: 2rem 0;
}
.cardcolumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
#event .fondblanc {
    display: flex;
    flex-direction: column;
}
#event .fondblanc div {
    display: flex;
}
.cardevent {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-right: 2rem;
    width: 100%;
}
.height50 {
    height: 46.5%;
}
.height100 {
    height: 100%;
}
.eventimg1 {
    background-image: url(../img/event-01.jpg);
    background-size: cover;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventimg2 {
    background-image: url(../img/event-02.jpg);
    background-size: cover;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventimg3 {
    background-image: url(../img/event-03.jpg);
    background-size: cover;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#event .fondblanc p {
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    color: #A9A69E;
}
#event .eventimg1 .fondgris, #event .eventimg2 .fondgris {
    /* width: 40%;
    height: 45%; */
    padding: 1rem 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#event .fondblanc {
    padding: 2rem 1rem;
}
#event .fondblanc h4 {
    font-size: 28px;
    font-weight: 400;
}
#event .fondblanc a {
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 16px;
}
#event .eventimg3 .fondblanc{
    display: flex;
    justify-content: center;
    align-items: center;
}
#event .eventimg3 .fondblanc {
    padding: 0 1rem 2rem 1rem;
}
#event .eventimg3 .fondgris {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
}
#event .eventimg3 .fondgris p {
    color: white;
    padding: 0;
}
#event .eventimg3 h4 {
    text-align: center;
}
#event .eventimg3 a {
    margin-bottom: 2rem;
}

/* TEMOIGNAGE */

#temoignage {
    margin: 6rem 20vw 0 20vw;
    padding: 4rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#temoignage img {
    border-radius: 50%;
    width: 100px;
    margin-top: -7rem;
    margin-bottom: 1rem;
}
#temoignage div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}
#temoignage div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#temoignage div p:nth-last-child(1){
    color: #A57143;
    text-transform: uppercase;
}
#temoignage div p:nth-last-child(2){
    font-size: larger;
}
#temoignage input {
    display: inline-block;
    margin: 0 0.5rem;
}
#radio1 {
    accent-color: #A57143;
}

/* MAP */

#map {
    margin-top: -4rem;
    margin-bottom: -0.4rem;
}

/* FOOTER */

footer section{
    display: flex;
    flex-wrap: wrap;
}
footer div{
    display: flex;
    flex-direction: column;
}
footer .cardfooter1 {
    background-color: #161513;
    width: 35vw;
    padding: 4rem 2vw 4rem 15vw;
    color: white;
}
.cardfooter1 h2 {
    display: block;
    padding: 0;
}
.cardfooter1 h2 a {
    color: #A57143;
    font-weight: 500;
    font-size: 42px;
}
.cardfooter2 {
    display: flex;
    justify-content: center;
    padding: 4rem 12vw 4rem 8vw;
    color: white;
}
.cardfooter2 label {
    margin-bottom: 0.4rem;
}
.cardfooter2 input {
    margin-bottom: 1.5rem;
}
footer .reseaux {
    flex-direction: row;
}
footer .reseaux ul {
    padding: 0;
}
footer .reseaux a i{
    color: #5A5956;
}

/* RESPONSIVE */

@media screen and (max-width:1150px) {
    
    /* RESERVATION */

    .onlinereservation div {
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
    }




}

@media screen and (max-width:1000px){

    /* HEADER NAV */

    .navi {
        flex-direction: column;
    }

}


@media screen and (max-width:800px){

    /* DISCOVER */

    #discover div:first-child {
        width: auto;
    }
    #discover div:last-child {
        display: none;
    }

    /* RESERVATION */

    .card {
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    .backgroundopentime {
        width: 100%;
    }
    .onlinereservation {
        width: 100%;
    }
    .onlinereservation div {
        grid-template-columns: 3fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    /* GALLERY */

    #gallery div {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr 1fr ;
    }

    /* FOOTER */

    footer .cardfooter1, footer .cardfooter2 {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 2vh 5vw;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width:600px) {

    /* NAVIGATION */

    .navi ul {
        flex-direction: column;
        align-items: center;
    }
    .navi .reseaux {
        display: none;
    }

    /* DISCOVER */

    #menu ul {
        flex-direction: column;
        align-items: center;
    }

    /* GALLERY  */

    #gallery div {
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /* TEMOIGNAGE */

    #temoignage {
        margin:6rem 0;
    }
}